<!DOCTYPE html>
<html lang="eu">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
        <title>Fonteynvakantiepark login</title>
</head>

<body>
    <header class="header_login">
        <div class="container">
                <div class="header__inner">
                        <div class="header__logo"><a class="nav__link" href="{{ url_for('main_page')}}">Fonteynvakantiepark</a></div>
                <nav class="nav">
                        <a class="nav__link" href="{{ url_for('reg_page')}}">Registration page</a>
                </nav>
                </div>
        </div>
    </header>

    <div class="login">    

        <br><br><br><br> 
        <h1> Please, type your account information</h1> 
        <br><br>
        
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.email }} <br>
        {{ form.password }} <br>
        {{ form.submit }}
        <br><br>    


    </div>
</body>